<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>


    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Dropdown-Login-with-Social-Logins.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/OcOrato---Login-form-1.css">
    <link rel="stylesheet" href="assets/css/OcOrato---Login-form.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search-1.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search.css">

</head>
<body id="page-top" style="background-color: rgb(13,32,41);background-image: url(&quot;assets/img/pet1.jpg&quot;);">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav" style="width: 100%;height: 100px;background-color: rgba(12,13,13,0.99);">
        <div class="container"><a class="navbar-brand" href="#page-top">PetCare</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="width: 822px;">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" data-bs-hover-animate="bounce"th:href="@{/}">home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" data-bs-hover-animate="bounce" th:href="@{/shop}">shop</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" data-bs-hover-animate="bounce" th:href="@{/disease}">blogs</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" data-bs-hover-animate="bounce"th:href="@{/contact}">contact</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" data-bs-hover-animate="bounce" th:href="@{/cart}">cart</a></li>
                    <li class="nav-item active">
                        <span class="nav-link text-alert" th:text="${cartCount}">0</span>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true" href="#" style="width: 300px;"><i class="fas fa-user"></i></a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" data-bs-hover-animate="bounce" href="#">profile</a><a class="dropdown-item" role="presentation" data-bs-hover-animate="bounce" th:href="@{/login}">login</a><a class="dropdown-item" role="presentation"
                                data-bs-hover-animate="bounce" th:href="@{/logout}">logout</a><a class="dropdown-item" role="presentation" data-bs-hover-animate="bounce" href="#">sing up</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="login-dark" style="background-image: url(&quot;assets/img/pet1.jpg&quot;);">
    
             
   
   
    <form th:action="@{/forgot_password}" method="post" style="background-color: rgba(30,40,51,0.54);">
        <div>
            <h2>Forgot Password</h2>
        </div>
             
        <div th:if="${error != null}">
            <p class="text-danger">[[${error}]]</p>
        </div>
        <div th:if="${message != null}">
            <p class="text-warning">[[${message}]]</p>
        </div>
        <h2 class="sr-only"><p>We will be sending a reset password link to your email.</p></h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div th:if="${param.error}" class="alert alert-error text-primary">
            Invalid email or password.
        </div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" required></div>
       
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit" value="Send">send</button></div>
        </form>
    </div>
    
    <script src="assets/js/jquery.min.js"></script>
   
<script src="assets/js/bs-init.js"></script>
</body>
</html>


