<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
  
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark m-1" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top">PetCare</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"   th:href="@{/admin}" href="#">home</a></li>





                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle js-scroll-trigger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item"href="#"
                          th:href="@{/admin/categories/add}">Add categories</a>
                          <a class="dropdown-item"href="#"  th:href="@{/admin/categories}">View Categories</a>


                          <!-- Product Categories -->

                          <a class="dropdown-item"href="#"
                          th:href="@{/admin/animalcategories/add}">Add Animal</a>
                          <a class="dropdown-item"href="#"  th:href="@{/admin/animalcategories}">View Animal</a>






                          <div class="dropdown-divider"></div>
                        </div>
                      </li>
                    

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle js-scroll-trigger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">product
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item"href="#"
                          th:href="@{/admin/products/add}">Add products</a>
                          <a class="dropdown-item"href="#"  th:href="@{/admin/products}">View products</a>


                          <a class="dropdown-item"href="#"
                          th:href="@{/blog/add}">Add blogs</a>
                          <a class="dropdown-item"href="#"  th:href="@{/blog/add}">View blogs</a>
                          <div class="dropdown-divider"></div>
                        </div>
                      </li>



                    




                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#" th:href="@{/login}">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#" th:href="@{/logout}">Logout</a></li>

                   
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item"href="#"
      th:href="@{/login}">Login</a>
      <a class="dropdown-item"href="#"  th:href="@{/admin}">Home</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"  th:href="@{/logout}" href="#">Logout</a>
    </div>
  </li>

                </ul>
                </div>
        </div>
    </nav>

    <br><br><br><br><br><br><br><br><br><br>
    <h1> Order</h1>
    
    <p>Current Date: <span th:text="${currentDate}"></span></p>
    <h2>order Details</h2>
    <p>Total orders : <span th:text="${cartCount}"></span></p>
    <p>Total: <span th:text="${total}"></span></p>
    
   
    <table class="table">
    <thead class="thead-light">
            <tr> <th  scope="col">user id</th>
                <th  scope="col">Product Name</th>
                <th  scope="col">Price</th>
                
                <th  scope="col">total</th>
                <th  scope="col">order plced date</th>
                <th  scope="col">order dilevery date</th>
              
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${cart}">
                <td th:text="${randomNumber}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                
                <td th:text="${total}"></td>
                
                <td th:text="${currentDate}"></td>
             <td  th:text="${afterDate}"></td>
             
            </tr>
        </tbody>
    </table>
</body>
</html>
